<div class="card-box">
    <h4 class="card-title">Agregar Atenciones</h4>
    <form action="#">
        <div class="form-group row">
            <label for="name" class="col-md-3 col-form-label">Tipo de Atencion</label>
            <div class="col-md-9">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="last" class="col-md-3 col-form-label">Last Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-md-3 col-form-label">Email Address</label>
            <div class="col-md-9">
                <input type="email" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="user" class="col-md-3 col-form-label">Username</label>
            <div class="col-md-9">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-md-3 col-form-label">Password</label>
            <div class="col-md-9">
                <input type="password" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label  for="repeatpassword" class="col-md-3 col-form-label">Repeat Password</label>
            <div class="col-md-9">
                <input type="password" class="form-control">
            </div>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>