$color_94:#F3F8FB;


.donut-chart-custom {
    display: flex;
    justify-content: center;
}

.morning-user {
    padding: 50px 0px 50px 35px;
    display: flex;        // Usamos flexbox
    flex-direction: column;
    align-items: flex-end; // Alinea todo a la derecha
    h2 {
      font-size: 28px;
      font-weight: 600;
      span {
        color: $color_94;
      }
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: $color_94;
      margin-bottom: 0;
    }
}


  .good-morning-blk {
    background: #3E65A0;
    border-radius: 12px;
    margin-bottom: 25px;
    position: relative;
    z-index: 9;
    &:before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: top right;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }


  
.morning-user {
    padding: 50px 0px 50px 35px;
    h2 {
      font-size: 28px;
      font-weight: 600;
      span {
        color: $color_94;
      }
    }
    p {
      font-size: 15px;
      font-weight: 500;
      color: $color_94;
      margin-bottom: 0;
    }
  }
  
  

