<header id="carousel-header" class="carousel-header">
 

  <!-- Barra de navegación -->
  <nav class="bg-[#2B4E84] border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800 z-10 fixed w-full top-0 left-0">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <a href="#" class="flex items-center">
        <img src="assets/img/logo-01.png" class="mr-20 h-10 sm:h-30" alt="logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"></span>
      </a>
      <div class="flex items-center lg:order-2">
        <button data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
        </button>
      </div>
    </div>
  </nav>
</header>


<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center bg-light">
  <div class="card shadow-lg p-5" style="width: 100%; max-width: 500px;">
    <div class="text-center mb-4">
      <h1 class="display-4 text-primary">Sistema de Atención a Estudiantes</h1>
      <p class="lead text-muted">Del Instituto Superior Riobamba</p>
    </div>

    <div class="mb-3">
      <label for="role" class="form-label">Selecciona un Usuario:</label>
      <select id="role" class="form-select" [(ngModel)]="selectedRole">
        <option value="docente">Docente</option>
        <option value="estudiante">Estudiante</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    
    
    <div class="card-body">
      <h2 class="h3 text-center text-secondary mb-4">Iniciar Sesión</h2>
      
      <!-- Formulario -->
      <form [formGroup]="form" (ngSubmit)="loginFormSubmit()">
        
        <!-- Correo electrónico -->
        <div class="mb-4">
          <label for="Email" class="form-label">Correo Electrónico <span class="text-danger">*</span></label>
          <input
            class="form-control"
            formControlName="email"
            type="email"
            [ngClass]="{'is-invalid': f['email'].touched && f['email'].invalid}"
          />
          <div *ngIf="f['email'].touched && f['email'].invalid" class="invalid-feedback">
            <div *ngIf="f['email'].errors?.['required']">El correo electrónico es obligatorio.</div>
            <div *ngIf="f['email'].errors?.['email']">Por favor, introduce una dirección de correo válida.</div>
          </div>
        </div>

        <!-- Contraseña -->
        <div class="mb-4">
          <label for="Password" class="form-label">Contraseña <span class="text-danger">*</span></label>
          <div class="position-relative">
            <input
              class="form-control"
              [type]="passwordClass ? 'text' : 'password'"
              formControlName="password"
              [ngClass]="{'is-invalid': f['password'].touched && f['password'].invalid}"
            />
            
          </div>
          <div *ngIf="f['password'].touched && f['password'].invalid" class="invalid-feedback">
            <div *ngIf="f['password'].errors?.['required']">La contraseña es obligatoria.</div>
          </div>
        </div>

        <div
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
        *ngIf="ERROR">
        <strong>Error!</strong>
        {{ errorMessage }} <!-- Mostrar el mensaje de error aquí -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
          (click)="ERROR = false"> <!-- Cerrar el mensaje de error -->
          <span aria-hidden="true"> </span>
        </button>
      </div>
      
      

        <!-- Recordar sesión -->
        <div class="d-flex justify-content-between mb-4">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" /> Recuérdame
          </label>
          <a [routerLink]="routes.forgotPassword" class="text-decoration-none text-primary">¿Olvidaste tu contraseña?</a>
        </div>

        <!-- Botón de inicio de sesión -->
        <div class="mb-4">
          <button
            [disabled]="form.invalid"
            class="btn btn-primary w-100"
            type="submit"
          >
            Iniciar Sesión
          </button>
        </div>
      </form>

      <!-- Enlace para registro -->
      <div class="text-center">
        <p class="small">¿No tienes cuenta? <a [routerLink]="routes.register" class="text-primary">Regístrate aquí</a></p>
      </div>

      <!-- Redes Sociales -->
      <div class="d-flex justify-content-center mt-4">
        <a href="javascript:;" class="text-muted me-3">
          <img src="assets/img/icons/login-icon-01.svg" alt="Facebook" width="40" height="40" />
        </a>
        <a href="javascript:;" class="text-muted me-3">
          <img src="assets/img/icons/login-icon-02.svg" alt="Google" width="40" height="40" />
        </a>
        <a href="javascript:;" class="text-muted">
          <img src="assets/img/icons/login-icon-03.svg" alt="Twitter" width="40" height="40" />
        </a>
      </div>
    </div>
  </div>
</div>
